*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    background-color: whitesmoke;
}
.greet{
    background-color: greenyellow;
    text-align: center;
    padding: 2em;
    width: 92%;
    margin-top: 0%;
  }
  img{
    margin: auto;
    width: 300px;
    border-radius: 200px;
    margin-left: 40%;
    margin-top: 20px;
 }
h1{
    text-align: center;
    margin-top: 20px;
}
p{
    text-align: center;
    margin-top: 20px;
}